.split-view {
  display: flex;
  flex-direction: row;
}

.split-view-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: start;
  gap: 30px;

  margin-right: 100px;
  padding-left: 48px;

  border-left: 2px solid var(--dark-blue);
}

.split-view-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 866px;
}
