.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 22px 30px;

  background-color: var(--gold);

  border: none;
  border-radius: 10px;

  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--gold-hover);

  cursor: pointer;

  transition: all 0.3s ease;
}

.button-icon {
  width: 28px;

  margin-right: 18px;

  color: var(--white);
}

.button-children {
  font-family: var(--ff-montserrat);
  font-weight: 700;

  color: var(--white);
}
