/* html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

body {
  font-family: var(--ff-montserrat);

  color: var(--dark-blue);

  background-color: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #ffffff;
  --black: #000000;

  --gold: #e0b973;
  --gold-hover: #e9b250;

  --dark-blue: #14274a;

  --ff-montserrat: "Montserrat Variable", sans-serif;
  --ff-cormorant: "Cormorant Variable", sans-serif;
}
