.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 256px;
  min-height: 149px;

  background-color: var(--gold);

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logo-title {
  margin-bottom: 10px;

  font-family: var(--ff-cormorant);
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;

  text-transform: uppercase;
}

.logo-subtitle {
  font-family: var(--ff-cormorant);
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;

  text-transform: uppercase;
}