.rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1560px;

  margin: 0 auto;
  margin-bottom: 115px;
  padding-top: 80px;
}

.rooms-title {
  text-align: center;
  text-transform: uppercase;
}

.rooms-text {
  margin-top: 50px;
  margin-bottom: 86px;

  font-family: var(--ff-montserrat);
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  text-wrap: balance;
}

.rooms-items {
  display: flex;
  flex-direction: column;

  gap: 81px;

  width: 1200px;
}

.room-booking-details-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}

.room-booking-details-modal-title {
  font-family: var(--ff-montserrat);
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
}

.room-booking-details-modal-text {
  margin-top: 25px;

  font-family: var(--ff-montserrat);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.room-booking-details-modal-date-picker {
  margin-top: 10px;
}
