.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 100vh;
  height: 100svh;

  background: rgba(20, 39, 75, 0.5);
}

.header {
  display: flex;
  justify-content: center;

  min-width: 1500px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
  
}
