.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 25px;

  width: 768px;
}

.testimonials-title {
  font-family: var(--ff-cormorant);
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.testimonials-text {
  font-family: var(--ff-montserrat);
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.testimonials-author {
  margin-top: 20px;

  font-family: var(--ff-montserrat);
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}

.testimonials-buttons {
  display: flex;
  flex-direction: row;

  gap: 21px;
}